src/main/resources/ism.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:us:gov:ic:ism" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="DESVersion" type="xs:string"/>
  <xs:attribute name="resourceElement" type="xs:string"/>
  <xs:attribute name="createDate" type="xs:string"/>
  <xs:attribute name="classification" type="xs:string"/>
  <xs:attribute name="ownerProducer" type="xs:string"/>
</xs:schema>